*{
  /* 
  *은 all을 뜻함
  모든 요소 마진, 패딩 제거 */
  margin:0 auto;
  padding:0;
}

ul{
  /* list 스타일 제거*/
  list-style: none;
}

a{
  /*앵커 데코레이선 제거(밑줄 제거)*/
  text-decoration: none;
}

#wrap{
  width:1200px;
  height:700px;
  background-color: #fff;
}