*{
    margin:0 auto;
    padding:0;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
#wrap{
    width: 1200px;
    height: 700px;
}
header{
    width:1200px;
    height: 100px;
}
header>#logo{
    width:200px;
    height:100px;
    float:left;
}
header>#nav{
    width:1000px;
    height: 100px;
    float:left;
}
main{
    width: 1200px;
    height: 600px;
}
main>#slide{
    width:1200px;
    height: 300px;
}
#contents{
    width: 1200px;
    height: 200px;
}
#contents>#con1{
    width: 400px;
    height:200px;
    float:left;
}
#contents>#con2{
    width: 500px;
    height:200px;
    float:left;
}
#contents>#con3{
    width: 300px;
    height:200px;
    float:left;
}
footer{
    width: 1200px;
    height: 100px;
}
footer>#logo{
    width:200px;
    height: 100px;
    float: left;
}
footer>#copy{
    width:700px;
    height: 100px;
    float:left;
}
footer>#site{
    width:300px;
    height: 100px;
    float:left;
}